* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

/* Common */

a  {
    color: white;
    text-decoration: none;
}
h1{
    margin-top:auto;
}
.container {
    max-width: 960px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    font-size: 18px;
    background: #333;
    padding: 15px 20px;
    border-radius: 5px;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.clr {
    clear: both;
}

/* Navigation */
#navbar {
    background-color: #333;
    color: #fff;
    height: 40px;
    padding-top: 5px;
    /* overflow: auto; */
}

#navbar h1 {
    float: left;
    padding-left: 20px;
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
}

#navbar ul a  {
    padding: 20px;
}

#navbar ul a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

/* Showcase */
#showcase {
    background: url(./../img/showcase.jpg) no-repeat center center/cover;
    height: 400px;
}

.showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 120px;
}

.showcase-content p {
    margin-bottom: 30px;
}

/* Home Info */
#home-info {
    height: 300px;    
}

#home-info .info-img {
    background: url(./../img/photo-1.jpg) no-repeat center center/cover;
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content {
    height: 100%;
    width: 50%;
    background: #333;
    float: right;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

#home-info .info-content h2 {
    padding: 10px;
}

#home-info .info-content p {
    margin-bottom: 50px;
}

#home-info .info-content a:hover {
    text-decoration: underline;
    color: #333;
}

/*  Features */
#features {
    text-align: center;
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
}

.box i {
    font-size: 50px;
}

/* About */
#about-info {
    padding: 20px;
}

#about-info .info-left {
    float: left;
    width: 40%;
    height: 100%;

}

#about-info .info-right {
    float: right;
    width: 40%;
    height: 100%;
}

#about-info .info-right img {
    width: 70%;
    margin-top: auto;
    border-radius: 50%;
    display: block;
}

/* Testimonials */
#testimonials {
    /* padding-top: 100px; */
    height: 500px;
    background: url(./../img/test-bg.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    height: 150px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}




/* FOOTER */
#main-footer {
    text-align: center;
    background: #444;
    color: white;
    padding: 20px;
}

#main-footer p {
    margin-top: 5px;
}
h3{

    color: #f7c08a;
    margin-top: 10px;
    margin-left: 95px;
}
p3{
    margin-left: 95px;
    margin-top: 10px;
    font-size: small;
}

input[type=text], select, textarea {
    width: 1190px; 
    height: 30px;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 0px; 
    margin-bottom: 5px; 
    resize: vertical 

  }
  
 
  input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #333;
  }
  

  .animation {
    border-radius: 5px;
    background-color: #fff;
    padding: 15px 50px;
    margin-top: 10px;
    padding: auto;
    margin-right: 45px;
    margin-left: 45px ;
    font-size: small;
    box-sizing: 650px;
  }
 #features{
    text-align: center;
    
    overflow:auto;
    background-color: #333;
    color: #fff;
 }
 .box{
    float:left;
    width: 33.3%;
    padding: 50px;
 }
 .box i{
    font-size: 40px;
 }
 .box p{
  text-align: center;
  width: 20px;
  height: 10px;
  font-size: small;

 }